image: python:3.13

stages:
  - build
  - test

cache:
  paths:
    - ~/.cache/pip

build:
  stage: build
  script:
    - echo "building ..."
    - pip install -r requirements.txt


test:
  stage: test
  script:
    - echo "testing ..."
    - pip install -r requirements.txt
    - pytest -v

