image: python:3.13

stages:
  - build
  - test
  - docker-build

cache:
  paths:
    - ~/.cache/pip

build:
  stage: build
  script:
    - echo "building ..."
    - pip install -r requirements.txt


test:
  stage: test
  script:
    - echo "testing ..."
    - pip install -r requirements.txt
    - pytest -v

docker_build:
  stage: docker_build
  script:
    - echo "building docker image"
    - docker build -t slice .