{% extends "base.html" %}

{% block extra_CssFile %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/record.css') }}">
{% endblock %}

{% block home %}
<a data-task="home" href="/"><i class="fas fa-home"></i></a>
{% endblock %}

{% block content %}
<h1 class="menu-title">
    Records <i class="fa-solid fa-book fa-bounce"></i>
</h1>
{% if order_data %}
<table>
    <thead>
        <tr>
            <td><i class="fa-solid fa-key"></i> Order ID</td>
            <td><i class="fa-solid fa-dollar-sign"></i> Total</td>
            <td><i class="fa-solid fa-user"></i> Client </td>
            <td><i class="fa-solid fa-phone"></i> Phone</td>
            <td><i class="fa-solid fa-calendar-days"></i> Date</td>
        </tr>
    </thead>
    <tbody>
        {% for order in order_data %}
        <tr>
            <td># {{ order.id }}</td>
            <td>{{ order.total }} MAD</td>
            <td>{{ order.client }}</td>
            <td>{{ order.phone }}</td>
            <td>{{ order.date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div style="color: gray; font-size: 1.5em; text-align: center; margin-top: 20px;">No records found.</div>
{% endif %}
{% endblock %}
